.idea
._*
.DS_Store
.vagrant*
tmp
src/.htaccess
src/config.php
src/bb-config*
!src/bb-config-sample.php

src/data/log/*
!src/data/log/.gitkeep

src/data/cache/*
!src/data/cache/smarty/cache/.gitkeep
!src/data/cache/smarty/templates_c/.gitkeep
!src/data/cache/twig/.gitkeep

src/data/tmp.txt
src/vendor
src/install/php_error.log
build
composer.lock

### Vagrant & puphpet ###
.vagrant/

### node_moduels ###
node_modules
npm-debug.log