.idea
._*
.DS_Store
.vagrant*
src/.htaccess
src/config*
!src/config-sample.php

src/data/log/*
!src/data/log/.gitkeep

src/data/cache/*
!src/data/cache/.gitkeep
src/data/tmp.txt
src/vendor
src/install/php_error.log
build
composer.lock

### Vagrant & puphpet ###
.vagrant/

### node_moduels ###
node_modules
npm-debug.log